<main class="container-fluid px-lg-5 py-5">

  <!-- Header -->
  <div class="row mb-5">
    <div class="col-12">
      <h1 class="display-5 fw-bold mb-0">Directorio de Usuarios</h1>
    </div>
  </div>
  <!-- Profile Grid -->
  <div class="row row-cols-3 aling-items-start g-4">
    <!-- Card 1 -->
    <div class="col " *ngFor="let usuario of usuarios;let i = index">
      <div class="card profile-card p-4 flex-grow-0">
        <div class="d-flex justify-content-between align-items-start mb-3">
          <div class="profile-img-container">
            <img [alt]="usuario.name" [src]="usuario.avatarUrl" />
          </div>
          <span class="badge rounded-pill badge-user px-3 py-2">{{usuario.role}}</span>
        </div>
        <div class="mb-4">
          <h3 class="h4 fw-bold mb-1 card-title">{{usuario.name}}</h3>
          <p class="small text-muted mb-0">{{usuario.username}}</p>
        </div>
        <div class="mb-4">
          <div class="d-flex align-items-center gap-2 mb-2 text-dark">
            <img src="icons/mail.svg" />
            <span>{{usuario.email}}</span>
          </div>
          <div class="d-flex align-items-center gap-2 text-dark">
            <img src="icons/location.svg" />
            <span>{{usuario.location}}</span>
          </div>
        </div>
        <div class="collapse mb-4 p-3" [id]="'verdetalle'+i">
          <app-usuario-detalle [UsuarioDetalle]= "usuarioSelect[i]"> </app-usuario-detalle>
        </div>
        <div class="mt-4 pt-3 border-top d-flex justify-content-center">
          <a class="view-profile-link p-auto" [attr.data-bs-target]="'#verdetalle'+i" data-bs-toggle="collapse" role="button" (click)="getUsuario(usuario,i)">
            <span>Ver detalle</span>
            <img class="material-symbols-outlined" src="icons/keydown.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</main>